
CAN BE RECIEVED AT: 
https://dev.twitch.tv/login

after login ensure account has 2 factor authetication enabled 

-Register Application 
-Enter any name or OrganizePY
-Enter http://localhost as OAuth
-Category any
-Client Type confidential


IGDB_CLIENT_ID= ENTER YOUR CLIENT ID
IGDB_CLIENT_SECRET= ENTER YOUR CLIENT SECRET ID 